.edit-mode {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  &__subheader {
    display: flex;
    flex: none;
    align-items: center;
    gap: 24px;
    border-bottom: 1px solid var(--border-color-divider);
    background: var(--color-white-100);
    padding: 12px 24px;
  }

  &__left {
    display: flex;
    gap: 8px;
  }

  &__center {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__body {
    display: flex;
    flex: 1;
    background: var(--color-fill-surface-sunken);
    min-height: 0;
    overflow-y: auto;
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 32px;
  }

  &__content > * {
    box-shadow: var(--shadow-100);
    border-radius: var(--border-radius-200);
    background: var(--color-white-100);
    padding: 32px;
    width: 100%;
    max-width: 1120px;
  }
}
